<p>口語練習</p>
<mat-card class="q-container">
  <!-- 所有題號 -->
  <div class="number-box">
    <div
      class="number"
      *ngFor="let q of questions"
      [ngClass]="getCssClass(q)"
      (click)="showQ(q)"
    >
      <span>{{ q.index }}</span>
    </div>
    <div class="space"></div>
    <div class="timer">
      {{ "0:31" }}
    </div>
  </div>

  <!-- 題目內容-->
  <div class="q-content-area">
    <div class="q-nav" (click)="prevQ()">
      <mat-icon class="left">keyboard_arrow_left</mat-icon>
    </div>

    <div class="q-content">
      <div>{{ currentQ.content }}</div>
    </div>

    <div class="q-nav" (click)="nextQ()">
      <mat-icon class="right">keyboard_arrow_right</mat-icon>
    </div>
  </div>

  <!-- 答案區域 -->
  <div class="q-answer-area">
    <!-- <div class="q-nav"></div> -->

    <div class="q-answer-block">
      <!-- hint area -->
      <div class="q-hint">
          <mat-icon class="speaker" (click)="speak()">volume_up</mat-icon>
          <mat-icon class="dictionary" (click)="openTranslate()">g_translate</mat-icon>
      </div>

      <!-- controls -->
      <div class="q-controls">
        <div class="mic" *ngIf="">
          <mat-icon (click)="listen()">mic</mat-icon>
        </div>

        <div class="pauseRec" *ngIf="">
          <mat-icon class="stopRec" (click)="stopRecording()"
            >pause_circle_outline</mat-icon
          >
        </div>
      </div>
      <!-- answer content -->
      <div class="q-answer">{{ message }}</div>
    </div>

    <!-- <div class="q-nav ans"></div> -->
  </div>
</mat-card>
