<mat-nav-list>
    <a
      mat-list-item
      class="navbar-brand"
      [routerLink]="['/home']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="onSidenavClose()"
    >
      <mat-icon>home</mat-icon>
      <span class="nav-caption">首頁</span> 
    </a>
  
    <!-- <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a> -->
    <a mat-list-item [routerLink]="['/speech_test']" (click)="onSidenavClose()"> 
      <mat-icon>assignment_ind</mat-icon>
      <span class="nav-caption">開始練習</span>
    </a>
    <a mat-list-item [routerLink]="['/quiz']" (click)="onSidenavClose()"> 
      <mat-icon>assignment_ind</mat-icon>
      <span class="nav-caption">實戰測驗</span>
    </a>
    <a mat-list-item [routerLink]="['/pk_quiz']" (click)="onSidenavClose()">
      <mat-icon>account_balance</mat-icon
      ><span class="nav-caption">PK 大賽</span>
    </a>
  </mat-nav-list>
  